/* Секция FEATURES */
.features {
  padding-bottom: 47px;
}
.features-list {
  @media screen and (min-width: $w-tab) {
    display: flex;
  }
}
.features-list__item {
  @media screen and (min-width: $w-full) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.features-list__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 120px;
  margin-bottom: 30px;
  background-color: $bg-sec;
  @media screen and (min-width: $w-tab) {
    width: 270px;
  }
}
.features-list__icon {
  width: 70px;
  height: 70px;
}
.features-list__title {
  margin-bottom: 10px;
  color: $color-main;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
.features-list__text {
  font-size: 14px;
  line-height: 1.71;
}
