/* Секция FEATURES */
.features {
  padding-bottom: 47px;
}
.features-list {
  display: flex;
}
.features-list__item:not(:last-child) {
  margin-right: 30px;
}
.features-list__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  min-height: 120px;
  margin-bottom: 30px;
  background-color: $bg-sec;
}
.features-list__icon {
  width: 70px;
  height: 70px;
}
.features-list__title {
  margin-bottom: 10px;
  color: $color-main;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-list__text {
  font-size: 14px;
  line-height: 1.71;
}
