*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  background-color: $bg-main;
  color: $color-secondary;
  padding-bottom: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: $w-phone;
  @media screen and (min-width: $w-tab) {
    width: $w-tab;
  }
  @media screen and (min-width: $w-full) {
    width: $w-full;
  }
}
.section {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $w-tab) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: $w-full) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: $color-main;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  min-height: 50px;
  padding: 0;
  font-family: inherit;
  color: $accent-text;
  background-color: $bg-button;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.card-set__item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
