/* ПОРТФОЛИО - Проекты */
.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.projects-list__item {
  background: $bg-main;
  transition: box-shadow $duration $timing;
  --items: 1;

  @media screen and (min-width: $w-tab) {
    --items: 2;
  }

  @media screen and (min-width: $w-full) {
    --items: 3;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.projects-list__link {
  display: flex;
  flex-direction: column;
  color: $color-secondary;
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
  height: 100%;
}
.projects-list__link:hover .projects-list__overlay {
  transform: translateY(0);
  opacity: 1;
}
.projects-list__desc {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.projects-list__title {
  margin-bottom: 4px;
  color: $color-main;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-list__pic-box {
  position: relative;
  overflow: hidden;
}
.projects-list__overlay {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 63px;
  font-size: 18px;
  line-height: 1.56;
  color: $accent-text;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: transform $duration $timing, opacity $duration $timing;
}
