.address-box {
  text-align: center;
  @media screen and (min-width: $w-full) {
    text-align: left;
    margin-right: 70px;
  }
}
.footer-logo {
  @media screen and (min-width: $w-full) {
    margin-bottom: 20px;
  }
}
.address-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
}
.address-list__addr {
  color: $accent-text;
  font-style: normal;
  text-decoration: none;
  transition: color $duration $timing;
  &:hover,
  &:focus {
    color: $color-accent;
  }
}
.address-list__cont {
  color: $foot-cont;
  font-style: normal;
  text-decoration: none;
  transition: color $duration $timing;
  &:hover,
  &:focus {
    color: $color-accent;
  }
}
