/* Контакты в HEADER */
.contacts {
  display: flex;
  flex-direction: column-reverse;
  margin-top: auto;
  margin-bottom: 64px;
  gap: 32px;
  @media screen and (min-width: $w-tab) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // margin-left: auto;
    gap: 10px;
    margin: 0px;
  }
  @media screen and (min-width: $w-full) {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0px;
  }
}
.contacts__item {
  display: inline-flex;
}
.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $color-secondary;
  fill: $color-secondary;
  transition-property: color, fill;
  transition-duration: $duration;
  transition-timing-function: $timing;
  &:hover,
  &:focus {
    color: $color-accent;
    fill: $color-accent;
  }
  &--mail {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  &--tel {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: $color-accent;
  }

  @media screen and (min-width: $w-tab) {
    font-size: 12px;
    line-height: 1.17;
    color: $color-secondary;
  }
  @media screen and (min-width: $w-full) {
    font-size: 14px;
    line-height: 1.14;
    color: $color-secondary;
  }
}
.contacts__icon {
  margin-right: 10px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
