.nav-menu {
  position: relative;
  border-bottom: 1px solid #ececec;
}
.menu__container {
  display: flex;
  justify-content: space-between;
}
.menu-btn {
  margin-left: auto;
  display: inline-flex;
  z-index: 101;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: transparent;
  @media screen and (min-width: $w-tab) {
    display: none;
  }
}
.menu-btn.is-open .menu__open {
  display: none;
}
.menu-btn .menu__open {
  display: block;
}
.menu-btn.is-open .menu__close {
  display: block;
}
.menu-btn .menu__close {
  display: none;
}
.menu-box {
  position: absolute;
  display: none;
  background-color: $bg-main;
  z-index: 100;
  top: 0%;
  left: 0;
  width: 100%;
  padding: 48px 40px;

  &.is-open {
    display: flex;
    // position: fixed;
    flex-direction: column;
    height: 100vh;
  }

  @media screen and (min-width: $w-tab) {
    display: flex;
    position: static;
    justify-content: space-between;
    padding: 0px;
  }
}

.menu-socials {
  display: inline-flex;
  align-items: center;
  padding-bottom: 0;
  padding-top: 0;

  @media screen and (min-width: $w-tab) {
    display: none;
  }
}
.menu-socials__item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  padding-left: 10px;
  &:first-child {
    margin-left: 0px;
  }
  &:last-child {
    margin-right: 0px;
    border-right: 1px solid transparent;
  }
  .menu-socials__link {
    display: block;

    text-decoration: none;
    color: $color-accent;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-align: left;
  }
}
