/* Шрифты */
$font-main: 'Roboto', sans-serif;
$font-secondary: 'Raleway', sans-serif;
/* Цвета текста и иконок */
$color-main: #212121;
$color-secondary: #757575;
$color-accent: #2196f3;
$accent-text: #ffffff;
$soc-main-color: #afb1b8;
$foot-cont: rgba(255, 255, 255, 0.6);
/* Фон */
$bg-focus: #2f303a;
$bg-main: #ffffff;
$bg-sec: #f5f4fa;
$bg-button: #2196f3;
/* Тайминг для анимаций */
$duration: 250ms;
$timing: cubic-bezier(0.4, 0, 0.2, 1);
// Экран
$w-phone: 480px;
$w-tab: 768px;
$w-full: 1200px;
// card-set
:root {
  --items: 1;
  --indent: 30px;
}
