/* Секция TEAM */
.team {
  background-color: $bg-sec;
}
.team__title {
  margin-bottom: 30px;
  @media screen and (min-width: $w-full) {
    margin-bottom: 50px;
  }
}
.team-cards {
  display: flex;
}
.team-cards__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 368px;
  background-color: $bg-main;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @media screen and (min-width: $w-tab) {
    --items: 2;
  }
  @media screen and (min-width: $w-full) {
    --items: 4;
  }
}
.team-cards__title {
  margin-bottom: 10px;
  color: $color-main;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-cards__desc {
  padding-top: 30px;
  padding-bottom: 24px;
  @media screen and (min-width: $w-full) {
    padding-bottom: 30px;
  }
}
.team-cards__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
